// .project-card {
//     border: 1px solid #ccc;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     margin-bottom: 20px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
  
//   .project-cover {
//     width: 100%;
//     border-radius: 8px;
//     margin-bottom: 15px;
//   }
  
//   .project-details {
//     text-align: center;
//   }
  
//   .project-title {
//     font-size: 1.5rem;
//     margin-bottom: 10px;
//   }
  
//   .project-description {
//     font-size: 1rem;
//     color: #666;
//     margin-bottom: 15px;
//   }
  
//   .project-link {
//     display: flex;
//     justify-content: center;
//   }
  
//   .btn {
//     padding: 10px 20px;
//     margin: 0 10px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 1rem;
//     background-color: #007bff;
//     color: #fff;
//     transition: background-color 0.3s ease;
//   }
  
//   .btn:hover {
//     background-color: #0056b3;
//   }
.project-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Media Queries pour différentes tailles d'écran

  // Pour les téléphones (par exemple, jusqu'à 768px de largeur)
  @media (max-width: 768px) {
    padding: 10px; // Réduire l'espace intérieur pour les téléphones
  }
}

.project-cover {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-details {
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.project-link {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;

  // Media Queries pour différentes tailles d'écran

  // Pour les téléphones (par exemple, jusqu'à 768px de largeur)
  @media (max-width: 768px) {
    padding: 8px 16px; // Ajuster la taille du bouton pour les téléphones
    font-size: 0.9rem; // Ajuster la taille de la police pour les téléphones
  }
}

.btn:hover {
  background-color: #0056b3;
}
