.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;

  .logo {
    width: 80px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15vh;
  }

  @media (max-width: 768px) {
    padding: 10px 0;
    text-align: center;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5px;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.nav-links {
  list-style-type: none;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.nav-links li {
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 12vh;

  &:hover {
    color: #ffd700;
  }
}