  .projet-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Ajouter des coins arrondis pour un aspect plus doux */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre douce */
    transition: transform 0.3s ease; /* Ajouter une transition pour une animation fluide */
    margin-top: 20%;
  }
  
  .projet-image:hover {
    transform: scale(1.05); /* Agrandir légèrement l'image au survol */
  }
  