.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 11.97%; 

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    .social-icons {
      a {
        color: #fff;
        text-decoration: none;
        margin: 0 5px;
        transition: color 0.3s ease;

        &:hover {
          color: #007bff;
        }

        i {
          font-size: 24px;
        }
      }
    }
  }


  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
}
